<!doctype html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="stylesheet.css">
    <title>C source analyzer</title>
</head>

<body>
    <div id="app">
        <div class='about'>
            <h2>これは何？</h2>
            <p> ANTLRをブラウザで動かすデモです。下のボックスにCのソースコードを入力して"Run"ボタンを押すと、そのコード内で実装されている関数をリストアップします。 </p>
        </div>

        <div class='editor'>
            <textarea spellcheck='false' rows=40 cols=80 v-model="code" placeholder="Enter C code here"></textarea>
            <div>
                <input type='button' value='Load Example' onclick="loadExample()" />
                <input type='button' value='Run' onclick="parse()" />
            </div>
        </div>

        <div class='result'>
            <p>{{message}}</p>
            <ol>
                <li v-for="functionname in list">
                    {{ functionname }}
                </li>
            </ol>
        </div>
        <div style='clear:both;'>
            <h2>その他</h2>
            <p>パーサは<a href="https://www.antlr.org/index.html">ANTLR</a>を使い作成しました。</p>
            <p>ANTLRに与えるC言語の文法ファイルは、<a
                    href='https://github.com/antlr/grammars-v4/blob/master/c/C.g4'>https://github.com/antlr/grammars-v4/blob/master/c/C.g4</a>を一部改変の上使用しています。
                改変後のファイルは<a href="./grammars/C.g4">こちら</a>にあります。
            </p>
            <p>このサイトのリポジトリは<a href="">こちら</a>です。何かありましたら<a href="">えすびて</a>までお願いします。</p>

        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src='app.js'></script>

</body>

</html>